/* style.css */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  min-height:100vh;
  display:flex;
  background-color: #c7d2fe;
  color:#fff;
  font-size:16px;
  align-items:center;
  justify-c0ntent:center;
}

header {
  position: fixed;
  left:50%;
  transform:translatex(-50%);
  display:grid;
  align-items:center;
  grid-template-columns:1fr 600px;
  gap:50px

  & img{
    width:250px
  }
}

nav a {
  color: black;
  margin: 0 10px;
  text-decoration: none;
  
}

section {
  padding: 2em;
  background: blue;
  margin: 1em;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 1em;
  background: #222;
  color: white;
}
